---
import ProjectCard from "@components/Proyects/ProjectCard.astro";
import Title from "@components/Title.astro";
import Container from "@layouts/Container.astro";
import { PROYECTS } from "src/types/utils";
---

<Container styles="" id="proyects">
  <Title>Portfolio</Title>
  <article class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {PROYECTS.map((p) => (
      <ProjectCard proyecto={p} />
    ))}
  </article>
</Container>
