---

import Title from "@components/Title.astro";
import BackIcon from "@icons/BackIcon.astro";
import FrontIcon from "@icons/FrontIcon.astro";
import OthersIcon from "@icons/OthersIcon.astro";
import Container from "@layouts/Container.astro";
import Stack from "./Stack.astro";
---

<Container>
  <Title>What I can do</Title>
  <article class="w-full grid gap-8 grid-cols-1 md:grid-cols-3">
    <Stack
      icon={FrontIcon}
      techs={["Astro", "React", "Tailwind"]}
      title="Front main stack"
    />
    <Stack
      icon={BackIcon}
      techs={["React", "Express.js", "MongoDB"]}
      title="Full stack"
    />
    <Stack icon={OthersIcon} techs={["React Native", "JQuery", "PHP", "Vue", "Strapi (CMS)" ]} title="Others" />
  </article>
</Container>
