---
import Container from '@layouts/Container.astro'

// const TECH = [
//   { name: 'HTML', icon: '', color: '', rate: '' },
//   { name: 'CSS', icon: '', color: '', rate: '' },
//   { name: 'JavaScript', icon: '', color: '', rate: '' },
//   { name: 'Astro', icon: '', color: '', rate: '' },
//   { name: 'React', icon: '', color: '', rate: '' },
//   { name: 'Next', icon: '', color: '', rate: '' },
//   { name: 'Node', icon: '', color: '', rate: '' },
//   { name: 'PHP', icon: '', color: '', rate: '' },
// ]
---

<Container styles="" id="about" title="About me">
  <article>
    <p class="leading-tight tracking-text">
      Mi nombre es Jose Joel Labrada, y son un apasionado del mundo del desarrollo web. LLevo más de tres años
      trabajando tanto en el back-end como en el front-end, siendo este ultimo el campo en el que me enfoco actualmente.
    </p>
    <br>
    <p class="leading-tight tracking-text">
      A lo largo de mi formación, he podido adquirir la capacidad de materializar ideas en soluciones eficientes y
      funcionales. Me gusta el trabajo directo con los clientes para lograr una retroalimentación que de lugar a una
      aplicación única. Busco constantemente expandirme en el mundo del desarrollo web, aprendiendo
      continuamente y conectando con profesionales del sector para colaborar y seguir mejorando.
    </p>
  </article>
  <!-- <article>
    <CodeContainer title="My Tech Experience">
      <div class="inline-flex w-full flex-wrap items-center justify-center gap-2">
        {
          TECH.map(({ name, color, icon, rate }) => {
            return <TechSquare name={name} color={color} icom={icon} />
          })
        }
      </div>
    </CodeContainer>
  </article> -->
</Container>
