---
import Container from "@layouts/Container.astro";

import Title from "@components/Title.astro";
import { MASTERING } from "../../types/utils";

---

<Container styles="" id="about">
  
  <article>
    <Title>Who am I?</Title>
    <p class="leading-tight tracking-text">
      I'm Jose Joel Labrada, a front-end developer specializing in crafting 
      immersive digital experiences. <span class="dark:text-primary dark:font-normal font-bold">With 3+ years of hands-on expertise</span> across
       both back-end architecture and front-end innovation (my current passion)
    </p><br />
    <p class="leading-tight tracking-text"></p>
    Throughout my training, I have gained the ability to turn ideas into efficient
    and functional solutions. I enjoy working directly with clients to achieve feedback
    that leads to a unique application. I am constantly seeking to expand my knowledge
    in the web development field <span class="dark:text-primary dark:font-normal font-bold">(currently mastering {MASTERING})</span>, continuously learning 
    and connecting with professionals
    in the industry to collaborate and keep improving.
  </article>
</Container>
