---
import ButtonIcon from "@components/ButtonIcon.astro";
import ButtonPrimary from "@components/ButtonPrimary.astro";
import Github from "@icons/social/Github.astro";
import Linkedin from "@icons/social/Linkedin.astro";
import { Mail } from "@lucide/astro";
import { SOCIAL } from "src/types/utils";
---

<div class="bg-primary dark:bg-transparent shadow-sm mb-10">
  <section
    id="home"
    class="mx-auto mt-0 flex h-[600px] w-4/5 flex-col justify-between pt-12"
  >
    <div
      class="flex flex-col md:flex-row text-center md:text-left h-full items-center justify-center font-semibold leading-head tracking-head text-inherit"
    >
      <div class="flex flex-col gap-12 flex-grow justify-center">
        <article
          class="flex flex-col items-center md:items-start justify-center text-white uppercase"
        >
          <h3 class="text-4xl font-semibold">My name is</h3> 
          <h2 class="text-7xl ">Joel Labrada</h2>
           <h3 class="text-4xl font-semibold">I'm a Front-end web developer</h3>
        </article>
        <article class="flex gap-8 justify-start items-center">
          <div class="justify-start items-center gap-6 flex">
            <ButtonIcon to={SOCIAL.github}>
              <Github w="25" h="25" styles="fill-white" />
            </ButtonIcon>
            <ButtonIcon to={SOCIAL.email}>
              <Mail width="25" height="25" color="white" />
            </ButtonIcon>
            <ButtonIcon to={SOCIAL.linkedin}>
              <Linkedin w="24" h="24" styles="fill-white" />
            </ButtonIcon>
          </div>
          <div class="flex items-end gap-2 justify-center md:justify-start">
            <ButtonPrimary label="Download CV" to="/Jose Joel Labrada.pdf" />
          </div>
        </article>
      </div>
    </div>

    <!-- <div class="flex w-full items-center justify-center">
      <button class="mb-5 animate-bounce text-white">
        <a href="#about"><ArrowDown /></a>
      </button>
    </div> -->
  </section>
</div>
