---
const {to} = Astro.props

interface Props {
  to: string
}
---

<a href={to} target="_blank" class=' group
flex justify-center items-center gap-2 transition-alltouch-manipulation translate-y-0 duration-300 active:translate-y-1 md:px-4 md:py-2 md:text-sm
rounded-3xl cursor-pointer font-mono text-base font-extrabold leading-4 px-6 py-3 text-center decoration-auto
border border-primary dark:bg-inherit dark:hover:bg-primary dark:text-white dark:hover:text-black
 text-black bg-primary hover:bg-transparent hover:text-black
' role="button">
  <slot/>
</a>


