---
import type { ROUTE } from 'src/types/utils'
import LinkNav from './LinkNav.astro'
import MenuButton from './MenuButton.astro'

const { styles, items } = Astro.props


---

  <nav  class:list={['flex-grow hidden md:flex gap-5 items-center justify-center w-full', styles]}>
    <ul class="flex gap-8">
      {items.map(({ name, to }:ROUTE) => <LinkNav to={to} word={name} />)}
    </ul>
    <!-- <LanguageToggle /> --><!-- TODO -->
  </nav>
  <MenuButton styles="md:hidden flex" />
