---
const { to, label, colors = "bg-transparent border-white hover:bg-white text-white hover:text-primary-700" } = Astro.props;

interface Props {
  to: string;
  label: string;
  colors?: string;
}
---

<div
  class:list={[
    `rounded-sm  items-center justify-center flex border-2 duration-300 cursor-pointer active:scale-[0.98]`,
    colors,
  ]}
>
  {to ? <a class="px-5 py-2" href={to} target="_blank">{label}</a> : <div class="px-5 py-2">{label}</div>}
</div>
