---

interface Props {
  to: string;
}

const { to } = Astro.props;
---

<a
  href={to}
  target="_blank"
  class="group transform relative focus:outline-none transition-transform duration-200 hover:scale-125"
>
  <slot />
</a>
