<div
  class="text-left pt-4 pb-6 flex flex-col justify-center font-medium text-2xl
after:[content:''] after:bg-primary-700 after:w-1 after:h-6 after:absolute after:rounded"
>
  <h2 class="pl-4"><span>{" "}</span><slot /><span>{" "}</span></h2>
</div>
