<div
  class="relative text-left mt-4 mb-6 flex flex-col justify-center font-bold text-4xl
after:[content:''] after:bg-primary-700 after:w-12 after:h-1 after:absolute after:rounded after:top-full"
>
  <h2><span>{" "}</span><slot /><span>{" "}</span></h2>
</div>
