---
import { cn } from "@lib/utils";

interface Props {
  id?: string;
  styles?: string;
}

const { id ='', styles ='' } = Astro.props;
---

<section
  id={`${id}`}
  class={cn("w-11/12 md:w-3/4 mt-0 mx-auto py-10", styles)}
>
  <slot />
</section>
