---
import Title from "@components/Title.astro";

interface Props {
  styles: string;
  id: string;
  title: string;
}

const { styles, id, title } = Astro.props;
---

<section
  id={`${id}`}
  class:list={["w-11/12 md:w-3/4 mt-0 mx-auto pt-2 pb-10", styles]}
>
  <Title>{title}</Title>
  <slot />
</section>
