---
import CardTechnologies from "./CardTechnologies.astro";

interface Props {
  role?: string;
  place?: string;
  date?: string;
  techs?: string[];
}

const { role, place, date, techs } = Astro.props;
---

<div class="group relative py-6 pl-8 sm:pl-32">
  <h4 class="mb-1 text-xl font-medium sm:mb-0 tracking-head">{role}</h4>
  <div
    class="mb-1 flex items-start gap-3 before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start dark:before:bg-slate-300 before:bg-slate-600 before:px-px after:absolute after:left-2 after:box-content after:h-2 after:w-2 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-primary after:bg-primary group-last:before:hidden sm:flex-row sm:before:left-0 sm:before:ml-[6.5rem] sm:after:left-0 sm:after:ml-[6.5rem]"
  >
    <time
      class="left-0 mb-3 inline-flex translate-y-0.5 items-center justify-center text-xs font-semibold uppercase sm:absolute sm:mb-0"
      >{date}</time
    >
    <div class="translate-y-0.5 text-xs">{place}</div>
  </div>
  <slot />

  <CardTechnologies techs={techs} />
</div>
