---
import LinkNav from "@components/ButtonNav.astro";
import type { ROUTE } from "src/types/utils";
import MenuButton from "./MenuButton.astro";

const { items } = Astro.props;
interface Props {
  items: ROUTE[];
}
---

<nav
  class:list={[
    "flex-grow hidden md:flex gap-5 items-center justify-center w-full",
  ]}
>
  <ul class="flex gap-8">
    {items.map(({ name, to }) => <LinkNav to={to} word={name} />)}
  </ul>
  <!-- <LanguageToggle /> --><!-- TODO -->
</nav>
<MenuButton styles="md:hidden flex" />
